<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../static/css/menu.css">
    <script type="text/javascript" src="../static/js/menu.js"></script>
</head>

<body>
<div>
<!--<table width="100%" cellspacing="0" align="center">
	<tr th:each="i:${menu}">
		<td  th:text="${i.des}"/>
        <div th:each="child:${i.childFuns}">
            <td th:text="${child.des}"/>
        </div>
    </tr>
</table>-->
<ul class="cd"  th:each="i:${map.menu}">
    <li class="mx"><a href="#" th:onclick="|showli(${i.fid})|"; th:text="${i.des}"/></li>
    <ul th:id="d+${i.fid }"  style="display: none">
       <!--<li th:each="child:${i.childFuns}" class="zx" th:text="${child.des}" <a th:href="${child.uri}" /></li>-->
        <!--<a th:href="${child.uri}" <li th:each="child:${i.childFuns}" class="zx" th:text="${child.des}" />-->
        <li th:each="child:${i.childFuns}" class="zx" ><a th:href="${child.uri}" target="i3" th:text="${child.des}"></a></li>
    </ul>
</ul>
</div>
</body>
</html>