<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目立项</title>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script language="javascript" src="../static/js/bootstrap.js"></script>
</head>
<body>
 <div>
     <div class="form-group">
         <label class=" control-label">项目名称：</label>
         <div ><input v-model="username" class="form-control" name="username"></div>
     </div>
     <div class="form-group">
         <label class=" control-label">类型：</label>
         <div ><input v-model="username" class="form-control" name="username"></div>
     </div>
     <div class="form-group">
         <label class=" control-label">状态：</label>
         <select name="" id="">
             <option value="">猜呀</option>
         </select>
     </div>
 </div>
</body>
</html>