<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.piao888.hbgc.mapper.AcceptMapper" >
  <resultMap id="BaseResultMap" type="top.piao888.hbgc.domain.Accept" >
    <id column="PID" property="pid" jdbcType="DECIMAL" />
    <result column="AID" property="aid" jdbcType="DECIMAL" />
    <result column="DID" property="did" jdbcType="DECIMAL" />
    <result column="WID" property="wid" jdbcType="DECIMAL" />
    <result column="STAT" property="stat" jdbcType="DECIMAL" />
    <result column="NOTE" property="note" jdbcType="VARCHAR" />
    <result column="TIM" property="tim" jdbcType="DATE" />
    <result column="TEL" property="tel" jdbcType="VARCHAR" />
    <result column="PER" property="per" jdbcType="VARCHAR" />
    <result column="NOE" property="noe" jdbcType="VARCHAR" />
    <result column="WORK" property="work" jdbcType="VARCHAR" />
    <result column="RES" property="res" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ACCEPT
    where PID = #{pid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="top.piao888.hbgc.domain.Accept" >
    insert into ACCEPT (PID, AID, DID,
      WID, STAT, NOTE, TIM, 
      TEL, PER, NOE, WORK, 
      RES)
    values (#{pid,jdbcType=DECIMAL}, #{aid,jdbcType=DECIMAL}, #{did,jdbcType=DECIMAL}, 
      #{wid,jdbcType=DECIMAL}, #{stat,jdbcType=DECIMAL}, #{note,jdbcType=VARCHAR}, #{tim,jdbcType=DATE}, 
      #{tel,jdbcType=VARCHAR}, #{per,jdbcType=VARCHAR}, #{noe,jdbcType=VARCHAR}, #{work,jdbcType=VARCHAR}, 
      #{res,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.piao888.hbgc.domain.Accept" >
    update ACCEPT
    set AID = #{aid,jdbcType=DECIMAL},
      DID = #{did,jdbcType=DECIMAL},
      WID = #{wid,jdbcType=DECIMAL},
      STAT = #{stat,jdbcType=DECIMAL},
      NOTE = #{note,jdbcType=VARCHAR},
      TIM = #{tim,jdbcType=DATE},
      TEL = #{tel,jdbcType=VARCHAR},
      PER = #{per,jdbcType=VARCHAR},
      NOE = #{noe,jdbcType=VARCHAR},
      WORK = #{work,jdbcType=VARCHAR},
      RES = #{res,jdbcType=VARCHAR}
    where PID = #{pid,jdbcType=DECIMAL}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select PID, AID, DID, WID, STAT, NOTE, TIM, TEL, PER, NOE, WORK, RES
    from ACCEPT
    where PID = #{pid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select PID, AID, DID, WID, STAT, NOTE, TIM, TEL, PER, NOE, WORK, RES
    from ACCEPT
  </select>
</mapper>